<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>CFBundleDevelopmentRegion</key>
   <string>English</string>
   <key>CFBundleExecutable</key>
   <string>lvsound2</string>
   <key>CFBundleIdentifier</key>
   <string>com.ni.framework.lvsound2</string>
   <key>CFBundleInfoDictionaryVersion</key>
   <string>6.0</string>
   <key>CFBundleName</key>
   <string>lvsound2</string>
   <key>CFBundleGetInfoString</key>
   <string>lvsound2 25.3.0f356, Copyright (c) 2003-2025 National Instruments Corporation. All Rights Reserved.</string>
   <key>CFBundlePackageType</key>
   <string>FMWK</string>
   <key>CFBundleSignature</key>
   <string>????</string>
   <key>CFBundleShortVersionString</key>
   <string>25.3.0</string>
   <key>CFBundleVersion</key>
   <string>25.3.0f356</string>
   <key>NSHumanReadableCopyright</key>
   <string>Copyright (c) 2003-2025 National Instruments Corporation. All Rights Reserved.</string>
</dict>
</plist>
